$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;

th,
td {
  @include fs-2;
  min-width: 0px;
}

.site-nav,
.site-header,
.site-footer {
  width: 100%;

  @include mq(lg) {
    width: 161px;
  }
}

.main {
  @include mq(md) {
    max-width: 1000px;
  }
}

.detail {
  display: none;
  position: absolute;
  transform: translate(-10%);
  padding: 8px;
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

td {

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

p:hover + .detail {
  display: block;
}