$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;
$nav-width: 164px;
$nav-width-md: 148px;
$content-width: 1000px;

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-wrap: nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }
}

.main {
  @include mq(md) {
    position: relative;
    max-width: $content-width;
    margin-left: $nav-width-md;
  }

  @include mq(lg) {
    margin-left: calc(
      (100% - #{$nav-width + $content-width}) / 2 + #{$nav-width}
    );
  }
}

.main-content-wrap {
  @include container;

  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;

  @include mq(md) {
    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing;
  }
}

.main-header {
  z-index: 0;
  display: none;
  background-color: $sidebar-color;

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: $header-height;
    background-color: $body-background-color;
    border-bottom: $border $border-color;
  }

  &.nav-open {
    display: block;

    @include mq(md) {
      display: flex;
    }
  }
}

.site-nav,
.site-header,
.site-footer {
  width: 100%;

  @include mq(lg) {
    width: $nav-width;
  }
}

th,
td {
  @include fs-2;

  min-width: 0;
  padding-top: $sp-2;
  padding-right: $sp-2;
  padding-bottom: $sp-2;
  padding-left: $sp-2;
  background-color: $table-background-color;
  border-bottom: $border rgba($border-color, 0.5);
  border-left: $border $border-color;

  &:first-of-type {
    border-left: 0;

    p {
      &:nth-child(2){
        font-size: 0.75em;
      }
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.detail {
  display: none;
  position: absolute;
  transform: translate(-10%);
  padding: 8px;
  text-align: left;
  color: #fff;
  background-color: #333;
  border-radius: 8px;
}

p:hover + .detail {
  display: block;
}

.class_table {
  background-color: #555;
  th,td {
    @include fs-7;
    background-color: #555;
    border-bottom: 0;
    border-left: 0;
  }

  img {
    max-width: 20%;
    vertical-align: -0.1em;
    margin-right: 0.5em;
  }
}