{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}
<footer class="footer">
  <div class="btns">
    <a class="button medium" href="https://lostark.game.onstove.com/Main">
      <div class="icon" style="background: rgb(28, 28, 28);">
        <img src="/lostarkday/assets/images/123-removebg-preview.png" alt="로스트아크 공식 홈페이지">
      </div>
    </a>
    <span class="line"></span>
    <a class="button medium" href="https://github.com/Remiing">
      <div class="icon" style="background: rgb(27, 31, 35);">
        <img src="/lostarkday/assets/images/github-mark-white.png" alt="">
      </div>
      <div class="icon-label" style="font-size: 12px;">@Remiing</div>
    </a>
  </div>
  <div class="desc">LostArk Day Guild 통계사이트입니다.</div>
  <div class="copyright">Day ⓒ 2022-2023. Remiing. All rights reserved.</div>
</footer>